
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{
    --padding-container: 100px 0;
    --color-title:#001A49;
}
  
body{
    background-image: url(/images/tuuu.jpg);
}
  
.alado{
    color: #000000;
    float: left;
    position: relative;
    left: 190px;
    height: 110px;
    top: -140px;
    font-size: 70px;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 20px #000000;
}


.encabezados{
    height: 80px;
    width: 120px;
    box-shadow: 10px 10px px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30px;
    left: 50px;
    
}
.encabezado{
    list-style: none;
    color: #000000;
    position: absolute;
    top: 40px;
    right: 45px;
    margin-left: 10px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;/*para que pongan una al lado de la otra*/
    grid-auto-columns: max-content;/*mira por defecto su maximo contenido*/
    gap: 1em;/*espacio entre cada link*/

}

.fondo{
    position: relative;
    background-color: rgba(0, 0, 0, 0.544);
    background-repeat: repeat;
    padding: var(--padding-container);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 100%, 0 80%);
    opacity: 4;
    background-size: 100%;
    height: 300px;
    animation: aparecer 5s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid black;
}
@keyframes aparecer {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }



.headings{
    position: absolute;
    max-width: 100%;
    text-shadow: 2px 2px 5px #000000;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}





.imagenesito{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 190px;
    width: 190px;
    z-index: -1 ; 
    

}



.mat2{
    display: flex; /* Establece el contenedor como un contenedor flexible */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin-right: 80px;
    height: 1500px; /* Establece la altura del contenedor */
    
    

}
.mat{
    position: relative;
    font-size:20px;
    font-family: 'PT Sans Narrow', cursive;
    color: rgb(0, 0, 0);
    animation: lucidez 18s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    max-width: 100%;
 }


  @keyframes lucidez {
    0% {opacity: 0;}
    100% {opacity: 2;}
  }

 
 .hello{
    position:relative;
    background-color: rgba(0, 0, 0, 0.544);
    -ms-grid-row-align: center;
    background-repeat: no-repeat;
    background-size: cover;  
    animation: carga 1s ease-in-out 0s forwards;    
 }

 from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }


